<h1>Kellys Top Restaurants</h1>


<ul>
    <li> <%= link_to "Circa 1800", "/circa" %> </li>
    <li> <%= link_to "Lebanese Taverna", "/lebanese" %> </li>
    <li> <%= link_to "El Trovador", "/trovador" %> </li>
</ul>


<%= link_to "Home", "/" %>