<h1>Marisa's Top Restaurants</h1>

<ul>
    <li> <%= link_to "Barbusa", "/barbusa" %> </li>
    <li> <%= link_to "Crack Shack", "/crackshack" %> </li>
    <li> <%= link_to "Tacos el Gordo", "/tacos" %> </li>
</ul>

<%= link_to "Home", "/" %>