<h1> ZZZzzzzz Bed is calling me ZZZzzzzz </h1>

<footer> Go back to Favorite Activities or Main </footer>

<br> </br>
<%= link_to "Favorite Activities", "/brandon"%>
<br> </br>
<%= link_to "Main", "/" %>