<h1> Traveling is an adventure and the best way to explore life! </h1>

<footer> Go back to Favorite Activities or Main </footer>

<br> </br>
<%= link_to "Favorite Activities", "/brandon"%>

<br> </br>
<%= link_to "Main", "/" %>