<h1>Kevin Silver</h1>
<p> Top 3 activities </p>

<ol>
<%= link_to "Golf", "/golf" %>
</ol>
<ol>
<%= link_to "Exercise", "/exercise" %>
</ol>
<ol>
<%= link_to "Travel", "/travel" %>   
</ol>

<br>
<%= link_to "Main", "/" %>