<h1> Let's Exercise so our bodies feel energized and healthy </h1>

<footer> Go back to Favorite Activities or Main </footer>

<br> </br>
<%= link_to "Favorite Activities", "/kevin"%>

<br> </br>
<%= link_to "Main", "/" %>