<h1> Golf helps with focus, reduces stress, and gives a sense of escape </h1>

<footer> Go back to Favorite Activities or Main </footer>

<br> </br>
<%= link_to "Favorite Activities", "/kevin"%>

<br> </br>
<%= link_to "Main", "/" %>