<h1> Traveling to other places is very relaxing and educational </h1>

<footer> Go back to Favorite Activities or Main </footer>

<br> </br>
<%= link_to "Favorite Activities", "/kevin"%>

<br> </br>
<%= link_to "Main", "/" %>